{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    <script src='{% static "jquery-3.2.1.min.js" %}'></script>
    <script src='{% static "update.js" %}'></script>
    {% csrf_token %}
    <input type="hidden" id="router-id" value="{{router.id}}">
    <div class="form-group">
        <lable>SapID</lable>
        <input type="text" id="sapid" value="{{router.sapid}}" required="required">
    </div>
    <div class="form-group">
        <lable>Host Name</lable>
        <input type="text" id="host-name" value="{{router.host_name}}" required="required">
    </div>
    <div class="form-group">
        <lable>Loop Back</lable>
        <input type="text" id="loop-back" value="{{router.loopback}}" required="required">
    </div>
    <div class="form-group">
        <lable>Mac Address</lable>
        <input type="text" id="mac-address" value="{{router.mac_address}}" required="required">
    </div>
    <div>
        <button type="button" class="btn btn-sm update " id="update">Update</button>
    </div>
</form>

</body>
</html>